
modules = ["python-base-3.13"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Task 1"

[[workflows.workflow]]
name = "Run Task 1: task_1_create_and_update_variables"
author = 41166844
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/creating_variables/task_1_create_and_update_variables/task_1_create_and_update_variables.py"

[[workflows.workflow]]
name = "Run task 2: task_2_greet_the_user.md"
mode = "sequential"
author = 41166844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/creating_variables/task_2_greet_the_user/task_2_greet_the_user.py"

[[workflows.workflow]]
name = "Run task 3: task_3_variable_mutation/"
mode = "sequential"
author = 41166844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/creating_variables/task_3_swap_two_variables/task_3_swap_two_variables.py"

[[workflows.workflow]]
name = "Run task 4: task_4_calculate_remaining_budget"
mode = "sequential"
author = 41166844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/using_variables/task_4_calculate_remaining_budget/task_4_calculate_remaining_budget.py"

[[workflows.workflow]]
name = "Run task 5: task_5_calculate_weekly_expenses"
mode = "sequential"
author = 41166844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/using_variables/task_5_calculate_weekly_expenses/task_5_calculate_weekly_expenses.py"

[[workflows.workflow]]
name = "Run task 6: task_6_split_expenses_evenly.md"
mode = "sequential"
author = 41166844

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 python_basics/using_variables/task_6_split_expenses_evenly/task_6_split_expenses_evenly.py"
